@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    @apply hidden
}

/* *{
    font-family: Outfit;
} */



@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
  
  .overflow-hidden {
    position: relative;
    overflow: hidden;
  }
  